{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body>
    <div>
        <header>
            <nav class="relative bg-gray-800">
                <div class="px-2 sm:px-6 lg:px-8">
                    <div class="relative flex h-16 items-center justify-between">
                        <div>
                            <a href="#" aria-current="page" class="rounded-md px-3 py-2 text-3xl font-bold text-white">Django CRM</a>
                            <a href="#" class="rounded-md text-2xl px-3 py-2 text-gray-200 hover:bg-white/5 hover:text-white">Leader</a>
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>